{% extends "base.html" %}
{% load static %}
{% block title %}
    Ошибка 404
{% endblock %}
{% block css %}
    {% static "pages/index.css" %}
{% endblock %}
{% block content %}
    <main class="main container">
        <div class="custom-center-block">
            <p class="custom-text-block">Ошибка 404. Такой страницы не существует.</p>
            <div class="custom-button-block">
                <p style="padding: 0 0 2em 0;">
                    <a class="button button_style_light-blue" href="{% url 'recipes:index' %}">Перейти на главную</a></p>
            </div>
        </div>
    </main>
{% endblock %}